<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div style="display: flex;align-items: center;justify-content: flex-end;color:#999;height:3rem;font-weight: 900;">
    <div style="display: none;" id="busuanzi_container_site_pv">
        总访问量 <p style="display: inline-block;padding:.3rem .5rem;border-radius:.2rem;margin:.5rem;background: #c7e7b4;color:white;"><span id="busuanzi_value_site_pv"></span>次</p>
    </div>
    <div style="display: none;" id="busuanzi_container_page_pv">
        页面访问量 <p style="display: inline-block;padding:.3rem .5rem;border-radius:.2rem;margin:.5rem;background: #c7e7b4;color:white;"><span id="busuanzi_value_page_pv"></span>人</p>
    </div>
</div>
